$maximum-width: 1235px;
$fluid-breakpoint: $maximum-width + 20px;

.public-layout {
  .container {
    width: 100%;
    max-width: 960px;

    @media screen and (max-width: $no-gap-breakpoint) {
      padding: 0;
    }
  }

  .content {
    display: block;
    margin: 40px 0;
    background: var(--foreground-color);
    border-radius: 6px;

    @media screen and (max-width: 520px) { margin: 40px 20px; }

    @media screen and (max-width: 767px) {
      margin-top: 0;
    }
  }

  .header {
    height: 80px;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 14px 0;
    box-sizing: border-box;
    position: relative;

    @media screen and (max-width: 1024px) {
      padding: 14px 20px;
    }

    .header-container {
      display: flex;
      width: 960px;
      align-items: stretch;
      justify-content: center;
      flex-wrap: nowrap;

      & > div {
        flex: 1 1 33.3%;
        min-height: 1px;
      }
    }

    .nav-left {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: nowrap;
    }

    .nav-center {
      display: flex;
      align-items: stretch;
      justify-content: center;
      flex-wrap: nowrap;
    }

    .nav-right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-wrap: nowrap;

      .simple_form.new_user {
        display: flex;
        flex-direction: row;
        align-items: center;

        .fields-group {
          display: flex;
          flex-direction: row;
          margin-bottom: 0;
          position: relative;

          p.hint.subtle-hint {
            position: absolute;
            top: 30px;
            left: 160px;
            border-radius: 4px;
            background: var(--foreground-color);
            overflow: hidden;

            a {
              padding: 4px;
              background-color: var(--brand-color--med);
            }
          }

          .input {
            margin-bottom: 0;
            margin-right: 10px;

            input {
              min-width: 150px;
              font-size: 14px;
            }
          }
        }

        .actions {
          display: flex;
          margin-top: 0;

          .button {
            margin-bottom: 0 !important;
            line-height: 38px !important;
            border: 1px solid #333 !important;
            height: 38px !important;
            box-sizing: border-box !important;
            padding: 0 18px !important;
            text-transform: none !important;
          }
        }
      }
    }

    .brand {
      display: block;

      img {
        display: block;
        height: 30px;
        width: auto;
        position: relative;
        bottom: -2px;

        @media screen and (max-width: $no-gap-breakpoint) {
          height: 20px;
        }
      }
    }

    .nav-link {
      display: flex;
      align-items: center;
      padding: 12px 22px;
      font-size: 14px;
      font-weight: 600;
      text-decoration: none;
      color: var(--primary-text-color);
      white-space: nowrap;
      text-align: center;

      &:hover,
      &:focus,
      &:active {
        text-decoration: underline;
        color: var(--primary-text-color);
      }

      &--hollow {
        background-color: var(--brand-color--med);

        &:hover,
        &:focus,
        &:active {
          color: var(--brand-color);
        }

      }

      @media screen and (max-width: 550px) {
        &.optional {
          display: none;
        }
      }
    }

    .nav-button {
      background: var(--brand-color);
      color: #fff;
      margin: 8px;
      margin-left: 0;
      border-radius: 4px;

      &:hover,
      &:focus,
      &:active {
        opacity: 0.9;
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

.container {
  box-sizing: border-box;
  max-width: $maximum-width;
  margin: 0 auto;
  position: relative;

  @media screen and (max-width: $fluid-breakpoint) {
    width: 100%;
    padding: 0 10px;
  }
}

.rich-formatting {
  font-family: var(--font-sans-serif), sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: var(--primary-text-color--faint);
  max-width: 600px;
  padding: 15px 30px;

  & > :first-child {
    margin-top: 0.5em;
  }

  a {
    color: var(--highlight-text-color);
    text-decoration: underline;
  }

  p {
    margin: 1em 0;
  }

  p,
  li {
    font-family: var(--font-sans-serif), sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: var(--primary-text-color--faint);

    a {
      color: var(--highlight-text-color);
      text-decoration: underline;
    }
  }

  strong,
  em,
  b {
    font-weight: bold;
    color: var(--primary-text-color);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-display), sans-serif;
    margin-top: 2em;
    margin-bottom: 1.25em;
    font-weight: 500;
    color: var(--primary-text-color--faint);
  }

  hr + {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 1.25em;
    }
  }

  h1 {
    font-size: 26px;
    line-height: 30px;

    small {
      font-family: var(--font-sans-serif), sans-serif;
      display: block;
      font-size: 18px;
      font-weight: 400;
      color: var(--primary-text-color);
    }
  }

  h2 {
    font-size: 22px;
    line-height: 26px;
  }

  h3 {
    font-size: 18px;
    line-height: 24px;
  }

  h4 {
    font-size: 16px;
    line-height: 24px;
  }

  h5 {
    font-size: 14px;
    line-height: 24px;
  }

  h6 {
    font-size: 12px;
    line-height: 24px;
  }

  ul,
  ol {
    padding: 0 0 0 2em;
    margin: 0 0 .85em;

    &[type='a'] {
      list-style-type: lower-alpha;
    }

    &[type='i'] {
      list-style-type: lower-roman;
    }
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  li > ol,
  li > ul {
    margin-top: 6px;
  }

  li p {
    margin-top: 0;
  }

  hr {
    width: 100%;
    height: 0;
    border: 0;
    border-bottom: 1px solid hsla(var(--background-color_hsl), .6);
    margin: 2em 0;

    &.spacer {
      height: 1px;
      border: 0;
    }
  }
}

.public-layout {
  position: relative;
  background-color: var(--brand-color);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 0 -106px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 767px) {
    .wave {
      display: none;
    }

    .brand__tagline,
    .brand h1 {
      color: #fff;
    }

    .header {
      .nav-link {
        color: #fff;

        &:hover,
        &:focus,
        &:active {
          color: #fff;
          opacity: 0.9;
        }
      }

      .brand {
        filter: brightness(0) invert(100%);
      }

      .nav-button {
        background: var(--accent-color);
        color: #fff;
        transition: 0.2s;

        &:hover,
        &:focus,
        &:active {
          background: var(--accent-color--bright);
        }
      }
    }
  }
}

.app-holder > .public-layout {
  align-items: normal;
}

.landing {
  height: auto;
  min-height: 80vh;

  @media (min-width: 767px) {
    min-height: 550px;
  }

  .landing-columns {
    display: flex;
    flex-direction: row;
    padding: 40px 0 20px;

    &--left {
      margin-right: 80px;
    }

    &--right {
      margin-left: auto;
      width: 395px;
      background-color: var(--foreground-color);
      border-radius: 6px;

      .simple_form {
        padding: 20px;
        background-color: var(--brand-color--faint);
        border-radius: inherit;
      }
    }

    .registrations-closed {
      display: flex;
      flex-direction: column;
      height: 100%;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 18px;

      h2 {
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 10px;
      }
    }

    @media (min-width: 767px) and (max-width: 1024px) {
      padding: 40px 20px 20px;

      &--left {
        margin-right: 40px;
      }

      &--right {
        width: 425px;
      }
    }

    @media screen and (max-width: 767px) {
      height: auto;
      padding: 20px 10px 30px;
      flex-direction: column;
      align-items: center;

      &--left {
        margin-right: 0;
      }

      &--right {
        width: 100%;
        margin-left: 0;
        margin-top: 30px;
      }
    }
  }

  &__brand {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    .brand {
      margin-right: auto !important;
      line-height: normal;
    }

    img {
      height: 100px;

      @media (min-width: 767px) and (max-width: 1024px) {
        height: 60px;
      }

      @media screen and (max-width: 767px) {
        display: none;
      }
    }

    h1 {
      font-size: 40px;
    }
  }

  .directory {
    margin-top: 30px;
    background: transparent;
    box-shadow: none;
    border-radius: 0;
  }

  .simple_form .user_agreement .label_input > label {
    font-weight: 400;
    color: var(--primary-text-color--faint);
  }

  .simple_form p.lead {
    color: var(--primary-text-color);
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 25px;
  }

  &__grid {
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: minmax(0, 50%) minmax(0, 50%);
    grid-gap: 30px;

    @media screen and (max-width: 738px) {
      grid-template-columns: minmax(0, 100%);
      grid-gap: 10px;

      &__column-login {
        grid-row: 1;
        display: flex;
        flex-direction: column;
      }

      &__column-registration {
        grid-row: 2;
      }

      .directory {
        margin-top: 10px;
      }
    }

    @media screen and (max-width: $no-gap-breakpoint) {
      grid-gap: 0;
    }
  }
}

.brand {
  position: relative;
  text-decoration: none;
  margin-right: 15px;

  h1 {
    @include font-montserrat;
    color: var(--brand-color);
  }
}

.brand__tagline {
  display: block;
  width: 470px;
  color: var(--primary-text-color);
  font-size: 30px;
  line-height: 1.4;
  margin-top: 25px;
  font-weight: 400;

  @media (min-width: 767px) and (max-width: 1024px) {
    width: 320px;
    font-size: 20px;
  }

  @media screen and (max-width: 767px) {
    width: 100%;
    font-size: 22px;
    margin-top: 0;
  }
}

@media (min-width: 767px) {
  .hidden-sm {
    display: block;
  }

  .visible-sm {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .hidden-sm {
    display: none !important;
  }

  .visible-sm {
    display: block !important;
  }
}

.about-page {
  background: var(--brand-color--faint);
  border-radius: inherit;
}

.public-layout__top {
  position: relative;
  flex: 1;

  .header,
  .container {
    position: relative;
  }

  .otp-form-overlay__container {
    z-index: 9998;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba($base-overlay-background, 0.7);

    .otp-form-overlay__form {
      @include standard-panel-shadow;
      border-radius: 10px;
      z-index: 9999;
      margin: 0 auto;
      max-width: 800px;
      position: relative;
      padding: 20px;
      background-color: var(--background-color);
      display: flex;
      flex-direction: column;

      .simple_form {
        padding: 30px 50px 50px;
      }

      .otp-form-overlay__close {
        align-self: flex-end;
      }
    }
  }
}

.public-layout__top .wave {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

h1.otp-login {
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  padding: 10px 0;
}
